# Backend Config Vars
BACKEND_CONTAINER_NAME=crcc-backend

# DB Config Vars
DB_CONTAINER_NAME=crcc-postgres
DB_PORT=9874


# Proxy Config Vars
BACKEND_PROXY_CONTAINER_NAME=crcc-backend-nginx-proxy
BACKEND_PROXY_PORT=6543


# Frontend Config Vars
FRONTEND_CONTAINER_NAME=crcc-frontend



# General
DOCKER_NETWORK_NAME=crcc-app-network